<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/styles1.css' %}">
</head>
<body>
    <div class="wrapper">
        <form method="post">
            {% csrf_token %}
            <h1>Register Page</h1>
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
            <button type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>